/* General Styles */
body {
    font-family: "Lora", sans-serif;
    text-align: center;
    background-color: #f9f8f3;
    color:#5C4033;
    margin: 0;
    padding: 20px;
}


/* Buttons */
.buttons a {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    background: #c4a484;
    color: #5C4033;
    border: none;
    padding: 10px 20px;
    margin: 5px 10px 30px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.buttons a:hover {
    background: #a88f6d;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* elements */

/* hide all elements */
.element-display {
    display: none;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

/* show element targeted */
.element-display:target {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

/* room layouts */

/* hide all rooms */
.room-display {
    display: none;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

/* show the room targeted */
.room-display:target {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

/* images */
.element-display img,
.room-display img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

/* .footer { 
    height:200px;
} */